package Layouts

import ()

templ PageWrapper() {

<body class="antialiased bg-black">
  <div class="grid grid-cols-5 gap-3">
    <div id="navigation"></div>
    <div id="page" class="col-span-4">
      <div id="page-content">
        <div hx-trigger="load" hx-swap="outerHTML" hx-get="/About" hx-vals='{"page": "fuck"}'></div>
      </div>
    </div>
  </div>
</body>
}
