package home

import (
"nereus_web/views/Layouts"
"nereus_web/views/components"
)

templ Index(page string, mode string, minimized bool) {
@Layouts.Base() {
@components.Header()
@Layouts.PageWrapper()
@components.Footer()
}
}
